{% extends 'main.html' %}
{% load static %}
<!-- Styling done -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
    <link rel="stylesheet" type="text/css" href=" {% static 'forms.css' %}">
    {% endblock %}
    <title>Document</title>
</head>
<body>
    {% block content %}
    <div class="checklist-container">
        <h2>A &#x2713; ON YOURSELF!</h2>
        <form method="POST">
            <div class="form">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                    <td></td>
                    <td><button type="submit">SEND</button></td>
                </table>            
            </div>
        </form>
    </div>
    {% endblock content %}
</body>
</html>